{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    // more accurate and less maintenance to let the type be deduced by TypeScript
    "@typescript-eslint/explicit-function-return-type": "off",
    // “hoisting” is not an issue with ES6
    "@typescript-eslint/no-use-before-define": "off",
    // database model properties are never camelcase
    "@typescript-eslint/camelcase": "off",
    // false positives in idiomatic code https://github.com/eslint/eslint/issues/11899
    "require-atomic-updates": "off",
    // makes code less clear, no evidence it’s faster: https://bit.ly/2kAohRM
    "@typescript-eslint/prefer-regexp-exec": "off",
    // for this specific use case, we don’t prefer includes
    "@typescript-eslint/prefer-includes": "off"
  }
}
